/**
 * CSS for Lacu
 */

body {
  background-color: #000000;
  color: #F2F2F2;
  text-align: center;
  font-family: Montserrat, Georgia, 'Times New Roman', Times, sans-serif;
}

#application-container {
  position: relative;
  top: 0px;
  left: 0px;
  overflow-x: none;
}

.progress-circle {
  position: absolute;
  left: 0;
  top: 0;
}

.progress-circle .scale {
  stroke: none;
  fill: #F2F2F2;
  fill-opacity: 0.35;
}

.progress-circle .progress {
  stroke: #FF80DF;
  stroke-width: 1px;
  fill: #FF80DF;
  fill-opacity: 0.9;
}

.lake svg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.lake .lake-outline {
  fill: #33CCFF;
  fill-opacity: 0.85;
  stroke-linejoin: round;
  stroke: #33CCFF;
  stroke-width: 2px;
  stroke-opacity: 1;
}

#lake-name-container-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 1em 0 0 1em;
  text-align: left;
  max-width: 25%;
}

#lake-name-container-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 1em 1em 0 0;
  text-align: right;
  max-width: 25%;
}

.lake-name {
  font-size: 2em;
  text-transform: uppercase;
  opacity: 0.85;
  text-shadow: 0px 0px 12px rgba(150, 150, 150, 0.75);
}

.lake-name.unnamed {
  color: #B1B1B1;
  text-transform: lowercase;
  text-shadow: 0px 0px 8px rgba(100, 100, 100, 0.75);
}

.county-name {
  color: #3366FF;
  font-size: 2em;
  text-transform: uppercase;
  opacity: 0.85;
  text-shadow: 0px 0px 12px rgba(51, 102, 255, 0.75);
}
